#cart_toggle {
	float: left;
	margin-left: 50px;
	margin-right: 15px;
	cursor: pointer;
}

#mobile-cart {
	border: solid 3px #6495ED;
	border-radius: 10px;
	padding: 15px;
	display: none;
	position: absolute;
	right: 20px;
	top: 50px;
	background-color: #F5FFFA;

	z-index: 10;
}


#cart_toggle {
	cursor: pointer;

}

#mobile-cart td {
	color: #1975A3 !important;
	font-size: 18px !important;
	font-weight: bold !important;

}
#cart_display {
	border: solid 3px #6495ED;
	border-radius: 10px;
	padding: 15px;
	display: none;
	position: absolute;
	right: 20px;
	top: 50px;
	background-color: #F5FFFA;
	z-index: 10;
}

.cart_item_info {
	padding-top: 30px !important;
}

#cart-checkout-button {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {

	#cart_display {
		background-color: #F5FFFA;
	}

}