/*General settings */
.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}

body {
	font-size: 20px;
}



/* 
Lightbox for picture edit and picture selection
*/
.image {

	cursor : pointer;

}


.lightbox {
    position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	border: solid 3px black;
	display: none;
	z-index: 10;
	
}

#lightbox_image_form {

	width: 90%;
	height: 100vh;
	margin: 0 auto;
}

#lightbox_gallery_form {

	width: 90%;
	height: 100vh;
	margin: 0 auto;
}

#images_display {
	overflow-y: scroll;
}

/*.lightbox iframe {

	width: 100%;
	height: 100%;
	
}*/



.close_lightbox {

   font-size: 2em;
   position: absolute;
   top: 20px;
   right: 20px;
   background-color: red;
   cursor: pointer;
   padding: 5px;

}

#gallery_form {
	/*display: none;*/
}

#add_image_section {

	display: none;
}

#open_add_image {
	cursor: pointer;
}

/* 
Lightbox for featured image
*/

.image {
	
}
.image_selected {
	border : solid red 2px;
}

#set_featured_image {
    cursor: pointer;
}

#set_image_button {
	cursor : pointer;
}

/* 
Lightbox for gallery
*/

#set_gallery {
    cursor: pointer;
}

#set_gallery_button {
	cursor : pointer;
}

.image-picker {
	display: block !important;
}

/* 
article form styling
*/

.category_form_item {
	display: inline-block;
	padding: 20px;
}







