/********

General settings 

**********/

.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}

body {
	font-size: 20px;
}

/* 
general form styling
*/

.category_form_item {
	display: inline-block;
	padding: 20px;
}






