/* 
Lightbox for picture edit and picture selection
*/
.image {

	cursor : pointer;

}


.lightbox {
    position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	border: solid 3px black;
	display: none;
	z-index: 10;
	
}

#lightbox_image_form {

	width: 90%;
	height: 100vh;
	margin: 0 auto;
}

#lightbox_gallery_form {

	width: 90%;
	height: 100vh;
	margin: 0 auto;
}

#images_display {
	overflow-y: scroll;
}

.close_lightbox {

   font-size: 2em;
   position: absolute;
   top: 20px;
   right: 20px;
   background-color: red;
   cursor: pointer;
   padding: 5px;

}

#gallery_form {
	display: none;
}

#add_image_section {

	display: none;
}

#open_add_image {
	cursor: pointer;
}

/* 
Lightbox for featured image
*/

.image {
	
}
.image_selected {
	border : solid red 2px;
}

#set_featured_image {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 30px;
    color: blue;
}

#featured_image_form_section {
	margin-top: 30px;
	margin-bottom: 30px;
}

#featured_thumbnail {
	border: solid 2px black;
	margin-top: 10px;
}

#set_image_button {
	cursor : pointer;
}


/* 
Lightbox for gallery
*/

#set_gallery {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 30px;
    color: blue;
}

#set_gallery_button {
	cursor : pointer;
}

#gallery_form_section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.image-picker {
	display: block !important;
}