/*--------------------------------------------------------------
## Top navigation
--------------------------------------------------------------*/
#primary-menu {

	margin-left: 20px;

}
.main-navigation {
    position: relative;
    width: 100%;
    display: block;
    clear: both;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background: #313131;
    
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
    display: block;
    padding: 1.3em 1em;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.3em;
    color: white;
   
}
.main-navigation ul ul {
    position: absolute;
    left: 0;
    z-index: 99999;
    display: none;
    float: left;
    padding: 0;
    background: #4d4d4d;
   
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	
	width: 200px;
	color: white;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
    color: white;    
    background: #4d4d4d;
   
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
    background: #313131;
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    
    color: green;
    
}

.main-navigation .current_page_ancestor {
    background: #4d4d4d;
    
}

.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: white;
    color: hsl(0, 0%, 100%);
    background: #313131;
    background: hsl(0, 0%, 19%);
} 


/* 
   Small menu 
*/

#mobile-top-nav {
	display: none;
}

#top-nav {

}

#search_box {
	color: white;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
}

.search-field {
	color: black;
	border-radius: 15px;
	width: 180px;
    border: 1px #000 solid;
    padding-left: 10px;
}

#menu {
	display: block;
	float: left;
}

.mobile-menu-toggle {
	cursor: pointer;
	display: none;
	color: white;
	font-size: 25px;
}

.mobile-search-toggle {
	cursor: pointer;
	display: none;
	color: white;
	font-size: 25px;
}

.mobile-user-toggle {
	cursor: pointer;
	display: none;
	color: white;
	font-size: 25px;
}

.mobile-cart-toggle {
	cursor: pointer;
	display: none;
	color: white;
	font-size: 25px;
}

.mobile-nav-widget {
	display: none;
	position: fixed;
	top: 50px;
	right: 0;
	background-color: #F5FFFA;
	color: #1975A3 !important;
	font-size: 18px !important;
	font-weight: bold;

}

#user {
	display: none;
}

#mobile-cart {
	display: none;
	padding: 0 10px 10px 10px;
}

#mobile_search {
	padding: 10px;
}

.screen-reader-text {
	display: none;
}

@media screen and (max-width: 768px) {

	#search_box {
		display: none;
	}

	.main-navigation{
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.mobile-nav-widget {
		
	}

	#mobile-top-nav {

		margin-top: 5px;
		display: block;
	}

	#mobile-top-nav-left {
        float: left;

	}

	#mobile-top-nav-right {
		float: right;
		margin-right: 20px;
		margin-top: 2px;
	}

	.mobile-search-toggle {
		display: inline-block;
		margin-right: 15px;

	}


	.mobile-cart-toggle {
		display: inline-block;

	}

	.mobile-user-toggle {
		display: inline-block;
		margin-right: 15px;
	}

	.mobile-menu-toggle {
        display: block;
        margin: 5px 5px;

     }

	#menu {
		display: none;
	}

	#user {
		display: none;
	}

	#mobile-cart {
		display: none;
	}

	#mobile_search {
		display: none;
	}
    .main-navigation li { 
		float: none; 
	}

	.main-navigation li a { 
		padding: 1.3em 2em; 
	}

	.main-navigation li li a { 
		padding-left: 4em; 
	}

	.main-navigation li li li a { 
		padding-left: 6em; 
	}

	.main-navigation li:hover > a {
		background: #313131;
	}

	.main-navigation ul ul,
	.main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;
		display: none;
		float: none;
		background: #313131;
	}
	
	.main-navigation ul ul a { width: 100%; }

	.main-navigation ul a:hover,
	.main-navigation ul ul a:hover {
		background: #4d4d4d;
	}

	.main-navigation .current_page_ancestor { background: inherit; }

	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current_page_item > a:hover,
	.main-navigation .current_page_item li:hover,
	.main-navigation .current_page_parent .current_page_item > a  {
		color: #fff;
		color: hsl(0, 0%, 100%);
		background: #4d4d4d;   
	}

	#welcome-user-button {
		background-color: #F5FFFA;
		color: #1975A3 !important;
		font-size: 18px !important;
		font-weight: bold;
	}

	#logOut-button {
		background-color: #F5FFFA;
		color: #1975A3 !important;
		font-size: 18px !important;
		font-weight: bold;

	}


}