#product-picture {

	text-align: center;
	min-height: 520px;
	overflow: hidden;	

}

#product-gallery {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#product-gallery img {
	cursor: pointer;
}

#product_body {
	margin-bottom: 20px;
}

#product_price {
	color: #1E90FF;
	margin-bottom: 20px;
}

#product_stock {
	color: #BA55D3;
	margin-bottom: 20px;
}

#product_meta {
	margin-top: 20px;
}

.product_meta_head {
	font-weight: bold;
} 

.product_qty {
	width: 80px;
}

.product_thumb h2 {
	text-align: center;
	margin-bottom: 20px;
}

.product_thumb_excerpt {
	text-align: center;
	margin-bottom: 10px;
}

.product_thumb_price {
	text-align: center;
	color: #1E90FF;
	margin-bottom: 10px;
}

.product_thumb_stock {
	text-align: center;
	color: #BA55D3;
	margin-bottom: 10px;
}

.product_thumb_update {
	float: left;
	font-size: 22px;
	width: 50%;
	text-align: center;

}

.product_thumb_delete {
	font-size: 22px;
	float: left;
	width: 50%;
	text-align: center;
}

#product_pagination_button {
	text-align: center;
}

